header{ height:100px;}
#banner_switch {position:relative; width:100%; height:100vh;background: #000;}
#banner_switch_list{width:100%;}

#banner_switch img{width: 100%;height:100vh;transition:.5s;}
#banner_switch ul {position:absolute;z-index:1002;bottom:3%; right:3%;}
#banner_switch ul li { width:12px;height:12px;border-radius:50%;float:left;display:block;color:#FFF;background:#ccc;cursor:pointer;margin-right:6px;}
#banner_switch ul li.on { background:#E16501}
#banner_switch_list a{position:absolute;width:100%;}
#banner_switch #roll{display:inline;height:auto; width:100%;position:absolute;bottom:3%;text-align:center;}
#banner_switch #roll i{color:#E16501;display:inline-block;font-size:50px;width:50px;height: 50px;line-height: 50px;animation: start 1.5s infinite ease-in-out;transform: translate(0, 0)}
#banner_switch #roll p{color:#fff;}
@keyframes start{
    0%, 30% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, -12px);
    }
}
.news{width: 100%; background:url("../images/news_bg.jpg") no-repeat center center;background-size:cover; color:#fff;}
.news>div{ width:1200px; margin:0 auto; padding-top:25px; padding-bottom:80px; position:relative;}
.news div h3{ height:100px; line-height:100px; font-size:22px; font-weight:normal;}
.news>div>p{ line-height:25px; font-size:14px; text-indent:28px; margin-bottom:63px;}
.news div .tabs{border:12px solid #fff; padding:7px;}
.news div .tabs div{overflow:hidden;height:662px; position:relative;}
.news div ul{height:992px; position:absolute; top:0;left:0;}
.news div ul li{ float:left; width:330px; overflow:hidden; position:relative; border-bottom:1px solid #021452; border-right:1px solid #021452;}
.news div ul li:nth-child(1),.news div ul li:nth-child(5),.news div ul li:nth-child(7){ width:500px;}
.news div ul li:nth-child(3),.news div ul li:nth-child(6),.news div ul li:nth-child(9){ border-right:0;}
.news div ul li img{transition:.5s;transform:rotate(0deg) scale(1,1);}
.news div ul li span{ position:absolute;transition:.5s;  color:#fff; top:20px; display:block; line-height: 50px; padding:0 20px; height: 50px;left:0;opacity:0; font-size:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; max-width:90%; background:url("../images/bg_opacity.png") repeat left top;}
.news div ul li:hover span{opacity:1}
.news div ul li img:hover{transform:rotate(5deg) scale(1.2,1.2);}
.news>div .px-slider{ position:absolute; text-align:center; width:200px; left:50%; margin-left:-100px; bottom:40px;}
.news>div div p{ height:24px; line-height:24px; opacity:0;transition:.5s;}
.news>div div p a{display:inline-block; width:12px; height:12px;border-radius:50%; background:#000;}
.news>div div p .hover{ background:#E16501;}
.news>div div:hover p{ opacity:1;}
.case{ width:1200px; margin:51px auto 81px;}
.case h2{ width:138px;text-align:center;font-weight:normal; margin:0 auto; height:48px; line-height:48px; position:relative;color:#e16501; font-size:26px;}
.case h2:after{content:''; width:50px; height:2px; background:#e5e5e5; position:absolute; top:50%; margin-top:-1px; left:-50px;}
.case h2:before{content:''; width:50px; height:2px; background:#e5e5e5; position:absolute; top:50%; margin-top:-1px; right:-50px;}
.case h3{ text-align:center; height:63px; line-height:63px; font-size:32px; font-weight:normal;}
.case>p{ line-height:46px; text-align:center; font-size:16px; color:#666666;margin-bottom:40px;}
.case ul li{ float:left; width:282px;margin-right:24px;}
.case ul li:last-child{ margin-right:0;}
.case ul li span{ display:block; width:260px;margin-bottom:22px; height:260px;border-radius:50%; border:10px solid #f5f5f5; overflow:hidden;}
.case ul li span img{ width:100%;transition: .3s;}
.case ul li h4{ height:42px; position:relative; line-height:42px; text-align:center; color:#000; font-size:20px; font-weight:normal; margin-bottom:11px;}
.case ul li h4:after{ content:''; position:absolute; width:20px; height:2px; top:42px; left:50%; margin-left:-10px; background:#e5e5e5;}
.case ul li p{line-height:24px; font-size:12px; color:#444444;text-align:center;}
.case ul li a:hover span img{transform: scale(1.2, 1.2); transition: .3s;}
.case ul li a:hover h4{ color:#E16501;}
.about{ width:100%;overflow:hidden; position:relative; background-image:url("../images/about_bg.jpg"); background-repeat:no-repeat ; background-position:center 100%;background-attachment:fixed;}
.about .content{ width:1200px; margin:0 auto; color:#fff;padding-bottom:30px; }
.about .title{padding-top:79px; background:rgba(255,255,255,0.1);color:#fff;padding-bottom:79px;}
.about .title h2{position:relative; text-align:center; font-size:34px; line-height:57px;height:57px;}
.about .title h2:before{content:''; width:400px; height:1px; background:#ffffff; position:absolute; top:-17px; left:50%; margin-left:-200px;}
.about .title h3{ margin:0 auto; width:80px; position:relative;}
.about .title h3 img{margin:0 auto;}
.about .title h3:after{content:'';display:block; position:absolute; width:160px; height:1px; background:#fff; right:-160px; top:50%; margin-top:-0.5px;}
.about .title h3:before{content:'';display:block; position:absolute; width:160px; height:1px;left:-160px; background:#fff; top:50%; margin-top:-0.5px;}
.about .content>div{ float:left;}
.about .content .text{ width:818px; padding-right:22px;}
.about .content .text h4{ height:70px; line-height:70px; text-align:right; font-size:24px; padding-top:18px;}
.about .content .text p{text-indent:28px; font-size:14px; line-height:25px;}
.about .content .bg{width:360px; position:relative;}
.about .content .bg img{ width:340px;transition:1s; position:relative;z-index:10; border:12px solid #e4e4e4;border-radius:50%; top:-14px;}
.about .content .bg img:hover{transform:rotate(360deg);}
.about .content .bg .more{ position:absolute; left:-78px; bottom:10px;z-index:5;}
.about .content .bg .more a{ display:block;color:#000;background: url(../images/jt.png) right center no-repeat;width: 280px; height: 77px; line-height: 70px; z-index: -1; font-size: 17px; text-indent: 50px;}
.about .content .bg .more a:hover{ color:#E16501;}
.about .about_bg{ width:100%; background:url("../images/png.png") no-repeat center center; height:6px; position:absolute; bottom:0; left:0;}
