.banner{width:100%;}
.banner a{ display:block; height:300px; width:100%; background:url("../images/banner.jpg") no-repeat; -webkit-background-size:cover; background-size:cover;}
.pills{min-width:100%; background:#fafafa;}
.pills>div{ width:1200px; margin:0 auto; height:66px; line-height:66px;}
.pills div ul,.pills div ul li,.pills div p{display:inline-block;transition:1s;}
.pills div .list{display:inline-block; height:66px; line-height:66px; margin-right:30px;transition:1s;transform: rotate(0deg);}
.pills div .list i{ color:#E16501; font-size:18px;}
.pills div ul li{ position:relative;margin-right:1px;}
.pills div ul li>a,.pills div p>a{ color:#373737; display:inline-block;font-size:16px;}
.pills div p{ position:relative;}
.pills div p>a:nth-of-type(2):hover~span,.pills div p span:hover{opacity:1;visibility:visible; transform: translate(0,0) rotateX(0deg);}
.pills div p span{background: #303030;opacity:0; display:block;visibility: hidden;transform: translate(0,-10px) rotateX(20deg); border-radius: 3px;width:140px; padding: 20px 0 15px;position:absolute; top: 60px; left: 50%;margin-left:-50px; z-index:1000; transition: .2s .2s;}
.pills div p span em{display: block; position: absolute; top: 0; left: 50%; margin-left: -4px; height: 0; width: 0; overflow: hidden; border: 8px solid #303030; border-top-color: #fafafa;}
.pills div p span a{display:block;line-height:25px; font-size: 14px; color: #fff;text-align:center;padding: 5px 0;}
.pills div p span a:hover{ background:#E16501;}
.pills div ul li>a{padding:0 15px;}
.pills div ul li:after{ content:''; display:block;transition:.6s .2s; position:absolute; width:0; bottom:0; left:50%;transform:translateX(-50%); height:1px; background:#E16501;}
.pills div ul li:hover:after{ width:100%;}
.pills div p i{ font-size:12px; color:#E16501;padding:0 15px;}
.pills div .page{ float:right;transition:1s}
.pills div .page i{ color:#e0e0e0; font-size:22px;transition:.5s;}
.container{ background:#f0f0f0; padding-top:40px;padding-bottom:40px;}
.container>div{ width:1100px;animation: show .6s; margin:0 auto; background:#ffffff;padding: 50px; line-height: 30px; border-radius: 6px;}
.container div .search a{ color:red;text-decoration:underline;}
.container div .search span{color:green; display:block; margin-top:5px;}
.container div article div:nth-child(1){border:1px solid #e5e5e5; padding:20px 5px;}
.container div article  h2{line-height:53px; height:53px; font-size:23px;}
.container div article  h2 a{ color:#000;}
.container div article  h2 a:hover{ color:#e16501;}
.container div article ul{ margin-top:31px; padding:6px 10px; background:#8c989f;margin-bottom:36px;}
.container div article ul li{ height:40px;line-height:40px; font-size:14px; color:#fff;border-bottom:1px solid #e5e5e5;}
.container div article ul li:last-child{ border:0;}
.container div article ul li mark{ background:none; color:#fff;}
.container div article ul li span{ display:inline-block; padding-left:4px; width:86px;}
.container div article  hr{ width:100%; background-color:#e5e5e5 !important;height:1px;border:0;}
.container div article  h3{ line-height:26px; height:26px; padding-left:8px; font-size:16px;}
.container div article  h3 a{color:#000;}
.container div article  h3 a:hover{ color:#E16501;}
.container div article>a{ display:block;width:126px;height:36px;line-height:36px; text-align:center; background:#e16501; color:#fff;margin-top:30px;margin-bottom:30px;font-size:14px;margin-left:20px;}
.container div article>a:hover{ background:#4391ea;}
.container div small{height:34px;line-height:34px; display:block; padding-left:8px;}
.container div small span{display:inline-block; margin-right:15px;}
.container div p{ padding-left:8px; font-size:14px; line-height:28px; position:relative;}
.container div p:nth-of-type(2){ padding-left:35px; padding-top:28px;}
.container div p:nth-of-type(2) b{ display:block; position:absolute; top:0; padding-left:8px;left:0;}
.container div p a{display:inline-block; margin-left:20px;color:#E16501;}
.container div .pages_box{ display:block; width:100%;clear:both;text-align: center;padding: 30px 0 0;}
.container div .pages_box span{height: 30px; margin-right: 6px; line-height: 30px; min-width: 60px; text-align: center; background: #f0f0f0; color: #ccc;display: inline-block;}
.container div .pages_box a{background: #E16501; color: #fff; border: 1px solid #E16501; text-align: center; height: 28px; line-height: 28px; min-width: 28px; display: inline-block; }
.container div .pages_box input[type='text']{width: 20px; padding: 6px 5px 5px;text-align: center;border: 1px solid #e0e0e0;color: #aaa;}
.container div .pages_box input[type='button']{min-width: 40px; padding: 6px 0 5px; cursor: pointer; font-weight: 700; text-align: center; border: 1px solid #e0e0e0; color: #aaa;}

@keyframes show{
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}